<%- title "DOGHOUSE | #{@comic.title.html_safe}" %>

<div id="maincontent" class="comic">
	<% annc = Announcement.where(active: true) %>
	<% if annc.size > 0 %>
		<div id="announcements">
			<div id="announcediv" class="textfields">
				<%= annc[0].content.html_safe %>
			</div>
		</div>
	<% end %>

	<% frst = Post.get_first %>
	<% prev = Post.get_previous(@comic.id) %>
	<% rand = Post.get_random %>
	<% gnxt = Post.get_next(@comic.id) %>
	<% last = Post.get_latest %>
	<% meta = @comic.get_post_meta %>
	<meta property="og:image" content='<%= "#{root_url}#{meta['comic_file']}" %>' />

	<div id="topNav">
		<ul><li>
				<a id='firstlink' href='<%= "#{root_url}#{frst.id}" %>' class='comicnavlinks' title='<%= frst.title.html_safe %>'>&#60;&#60;</a>
			</li>
			<li>
				<a id='previouslink' href='<%= "#{root_url}#{prev.id}" %>' class='comicnavlinks' title='<%= prev.title.html_safe %>'>&#60;</a>
			</li>
			<li>
				<a id='randomlink' href='<%= "#{root_url}#{rand.id}" %>' class='comicnavlinks' title='<%= rand.title.html_safe %>'>&#63;</a>
			</li>
			<li>
				<a id='nextlink' href='<%= "#{root_url}#{gnxt.id}" %>' class='comicnavlinks' title='<%= gnxt.title.html_safe %>'>&#62;</a>
			</li>
			<li>
				<a id='latestlink' href='<%= "#{root_url}#{last.id}" %>' class='comicnavlinks' title='<%= last.title.html_safe %>'>&#62;&#62;</a>
			</li></ul>
	</div>
	<div id="imgdiv" style="text-align:center; margin-bottom:0px;">
		<img src='<%= image_path("dhdcomics/#{meta['comic_file']}") %>' title="<%= meta['comic_description'].html_safe %>">
	</div>
	<div id="bottomNav">
		<ul><li>
				<a id='firstlink' href='<%= "#{root_url}#{frst.id}" %>' class='comicnavlinks' title='<%= frst.title.html_safe %>'>&#60;&#60;</a>
			</li>
			<li>
				<a id='previouslink' href='<%= "#{root_url}#{prev.id}" %>' class='comicnavlinks' title='<%= prev.title.html_safe %>'>&#60;</a>
			</li>
			<li>
				<a id='randomlink' href='<%= "#{root_url}#{rand.id}" %>' class='comicnavlinks' title='<%= rand.title.html_safe %>'>&#63;</a>
			</li>
			<li>
				<a id='nextlink' href='<%= "#{root_url}#{gnxt.id}" %>' class='comicnavlinks' title='<%= gnxt.title.html_safe %>'>&#62;</a>
			</li>
			<li>
				<a id='latestlink' href='<%= "#{root_url}#{last.id}" %>' class='comicnavlinks' title='<%= last.title.html_safe %>'>&#62;&#62;</a>
			</li></ul>
	</div>
</div>

<div id="signoff-wrapper">
	<div id="title-signoff-share">
		<h2 id="titleheader"><%= @comic.title.html_safe %></h2>
		<div id="subtext"><%= @comic.content.html_safe %></div>
		<div id="alttxt" class="mobile-only"><%= meta['comic_description'].html_safe %></div>
		<div id="permalink">
			Permalink: <a target="_blank" href='<%= "#{root_url}#{@comic.id}" %>'><%= "#{root_url}#{@comic.id}" %></a>
		</div>
		<div class="addthis_native_toolbox" data-url='<%= "#{root_url}#{@comic.id}" %>' data-title="<%= @comic.title.html_safe %>"></div>
		<div class="clear"></div>
	</div>
</div>
<%= render partial: "shared/socialmedia" %>
<%= render partial: "shared/other" %>
<%= render partial: "shared/bottomad" %>
<%= render partial: "shared/footer" %>
