<% btntxt = new_or_edit == "edit" ? "Update Comic" : "Add New Comic" %>

<%= form_for(@post, html: { class: "rails_form", style: 'height:500px;' }) do |f| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
			<% @post.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<input type="hidden" id="post_user_id" name="post[user_id]" value="<%#= current_user.id %>" />
	<div class="field w100fl">
		<%= f.label :title %><br>
		<%= f.text_field :title, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :content %><br>
		<%= f.text_area :content, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :name %><br>
		<%= f.text_field :name, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :status %><br>
		<%= f.text_field :status, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :live_date %><br>
		<%= f.datetime_select :live_date, { class: "txt100", style: "" } %>
	</div>
	<div class="actions w100fl">
		<%= f.submit btntxt, { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkComicForm();" } %>
		<%= link_to 'Back', posts_path, { class: "btn btn-primary", style: "float:right;width:150px;" } %>
	</div>
<% end %>
