<% content_for :admin do %>
<h3>
	All Comics
	<%# if user_signed_in? and current_user.has_role? :admin %>
		<%= link_to 'New Comic', new_post_path, { class: "btn btn-default btn-xs", style: "float:right;margin-top:2px;" } %>
	<%# end %>
</h3>

<table class="table" id="post_table">
	<thead>
		<tr>
<!--      <th>Author</th>//-->
			<th style="width:60px;text-align:center;">Comic ID</th>
			<th style="width:100px;">Title</th>
			<th style="width:100px;text-align:center;">Created</th>
<!--      <th>Update date gmt</th>//-->
			<th>Sub-Text</th>
			<th>Name</th>
			<th style="text-align:center;">Status</th>
			<th style="width:100px;text-align:center;">Live date</th>
<!--      <th>Guid</th>//-->
			<th style="text-align:center;"></th>
<!--      <th></th>//-->
		</tr>
	</thead>

	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td style="font-weight:bold;width:60px;text-align:center;">
					<%= link_to post.id, "#{root_url}#{post.id}", target: "_blank" %>
				</td>
<!--        <td><%#= post.user_id %></td>//-->
				<td style="width:100px;"><%= link_to post.title, "#{root_url}#{post.id}", target: "_blank" %></td>
				<td style="width:100px;text-align:center;"><%= post.created_at.strftime("%b %d, %Y") %></td>
<!--        <td><%#= post.update_date_gmt %></td>//-->
				<td><%= post.content.html_safe %></td>
		        <td><%= post.name %></td>
				<td style="text-align:center;"><%= post.status %></td>
				<td style="width:100px;text-align:center;"><% begin %><%= post.live_date.strftime("%b %d, %Y") %><% rescue;end %></td>
<!--        <td><%#= post.guid %></td>//-->
				<td style="text-align:center;"><%= link_to 'Edit', edit_post_path(post) %></td>
<!--        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>//-->
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>
