<% content_for :admin do %>
<p id="notice"><%= notice %></p>

<h1>Listing Post Meta</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Meta key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_meta.each do |post_metum| %>
      <tr>
        <td><%= post_metum.post_id %></td>
        <td><%= post_metum.meta_key %></td>
        <td><%= post_metum.value %></td>
        <td><%= link_to 'Show', post_metum %></td>
        <td><%= link_to 'Edit', edit_post_metum_path(post_metum) %></td>
        <td><%= link_to 'Destroy', post_metum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post metum', new_post_metum_path %>
<% end %>